<section class="main">
<img src="/images/logo.svg" alt="logo">
<p>{{bio}}</p>
<button class="myButton">Download For Free</button>
</section>

<section class="iphone">
<img src="/images/iphone.png" alt="product image">
</section>