<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/master.css'/>
  </head>
  <body>
    <!--<header>-->
      <!--<a href="/">Home</a>-->
      <!--<a href="/user1">UserTwo</a>-->
      <!--<a href="/user2">UserOne</a>-->
    <!--</header>-->
    <section="container">
                <!--<h1>Anything under me is rendered dynamically from the router</h1>-->
          <!-- Triple handlebars is a shorthand for a router view -->
          {{{body}}}
    </section>
    <footer><p>Waves 2019. All Rights Reserved</p></footer>
  </body>
</html>
